<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:wicket>

<wicket:head>
	<link wicket:id="cssBorderedPanel" />
</wicket:head>

<wicket:panel>

	<div id="borderPanel" class="borderPanel">

				<div class="white_roundBoxTop"><div><div></div></div></div>
				<div class="white_roundBoxLeft">
					<div class="white_roundBoxRight">
					
					<wicket:child />
    				
					</div><!-- /white_rbcontent -->
				</div><!-- /white_rbcontentwrap -->
				<div class="white_roundBoxBottom"><div><div></div></div></div>
		</div><!-- /white_roundBox -->

</wicket:panel>
</html>