/* 
    Document   : root
    Created on : Nov 1, 2007, 11:45:47 AM
    Author     : heiko
    Description: Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* The main css entry to define basic document layout */


html {
    background-color: #ebf9ef;
}

#root {
  font-family: Verdana, Tahoma, Arial;
  font-size: 12px;
  
}

#menu {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    right: 10px;
    
}

#main {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}




