@CHARSET "UTF-8";

.commandPanel {
	padding-left: 10px;
}

.commandList {
	
}

.commandItem {
	
}

.commandLabel {
	
	}

.commandList a {
	font-size: 1.0em;
	font-weight: bold;
	font-style: italic;
	color: #0060BF;
}

.commandList a:link {
	text-decoration: none;
}

.commandList a:visited {
	text-decoration: none;
}

.commandList a:active {
	text-decoration: none;
}

.commandList a:hover {
	color: #ff8a00;
	text-decoration: none;
}


ul.commandList {
	list-style: url(image/remove_10.png) square;
	list-style-position: inside;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline;
	color: grey;
	line-height: 2em;
}

.commandList li {
	float: left;
	
}

