@CHARSET "UTF-8";

.iconPanel {
	text-align: right;
}

.filterIcon {
	background-image: url("image/filter.png");
	background-repeat: no-repeat;
	background-position: left;
}

.iconLink a {
	padding-left: 20px;
}

.commandHeader {
	height: 1.6em;
}