@CHARSET "UTF-8";

.contributionForm {
	margin-left: 10px;
}

input[readonly] {
	color: #555555;
}

#mainContent {
	width: 800px;
	float: left;
}

#bodySubPanel {
	padding-top: 30px;
	width: 250px;
float: right;
margin-right: 20px;
	
}

div.tab-row {

	
	


}

.tab-row li {
	float: left;
	list-style-type: none;
	width: 4em;
	text-align: center;
	
}

.tab-row ul {
border-top: 2px solid #83c97e;
border-bottom: 1px solid #83c97e;
height: 1.3em;
padding-top: 6px;
margin-top: 0px;
}

.tab-row .selected {
	background-color: white;
border-top:1px solid grey;
border-right:1px solid grey;
border-left:1px solid grey;
}


.tab-row a {
	font-weight: bold;
	color: #0060BF;
}

.tab-row a:link {
	text-decoration: none;
}

.tab-row a:visited {
	text-decoration: none;
}

.tab-row a:active {
	text-decoration: none;
}

.tab-row a:hover {
	color: gray;
	text-decoration: underline;
}

/* if we use a round border avoid offset for IE */
form.contributionForm {
margin-bottom: 0px;
}