@charset "UTF-8";

.filterIcon {
	background-image: url("img/action/filter.png");
	background-repeat: no-repeat;
	background-position: left;
}

.resetIcon {
	background-image: url("img/action/revert.png");
	background-repeat: no-repeat;
	background-position: left;
}