<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:wicket>
  <wicket:panel>

              <table>
              <tr>
              <td>
                <a wicket:id="userItem" href="#">
                <span wicket:id="userLabel"></span>
              </a>
              </td>
              </tr>
              <tr>
              <td>
              <a href="#">
                <span wicket:id="logoutLabel" />
            </a>
            </td>
            </tr>
            </table>

  </wicket:panel>
</html>  