@CHARSET "UTF-8";

img {
	border: 0;
}

body {
	margin-top: 0px;
}

body,input,select,textarea {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}

#mainNavigation {
	width: 100%;
	text-align: right;
	border-top: 2px solid red;
	font-size: 1.3em;
	padding-right: 10px;
}

#mainMenu {
	margin-right: 30px;
}

#userSwitch { color: #0060BF; }

#logoutLabel { font-style: italic; font-size: 0.8em }

#mainNavigation a { font-weight: bold; color: #0060BF; }

#mainNavigation a:link { text-decoration: none; }
#mainNavigation a:visited { text-decoration: none; }
#mainNavigation a:active { text-decoration: none; }
#mainNavigation a:hover { color: gray; text-decoration: underline; }



/*.whiteBox_subMenu { background: url(img/corner_t.png) repeat-x; }
.whiteBox_subMenu div { background: url(img/corner_tl.png) no-repeat top left; }
.whiteBox_subMenu div div { background: url(img/corner_tr.png) no-repeat top right; }*/

.subMenu {
	width: 200px;
	background-color: rgb(222, 100, 42);
}

.contextBox {
	width: 200px;
	background-color: rgb(155, 227, 42);
}

.rounded-corners .left {
	/*background: url(img/corner-tl.png) no-repeat;*/
	float: left;
	font-size: 1px;
	height: 30px;
	width: 15px;
	}
	
.rounded-corners .right {
	background: url(img/corner-tr.png) no-repeat;
	float: right;
	font-size: 1px;
	height: 30px;
	width: 15px;
}

.rounded-corners ul {
	height: 10px;
	margin: 0 15px;	
	
}

.rounded-corners li {
	display: inline;
	line-height: 30px;	
	margin: 0 10px 0 0;
}
