@CHARSET "UTF-8";

img {
	border: 0;
}

body {
	margin-top: 0px;
}

body,input,select,textarea {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}

#mainNavigation {
	width: 100%;
	text-align: right;
	border-top: 2px solid red;
	font-size: 1.3em;
	padding-right: 10px;
}

#mainMenu {
	margin-right: 30px;
}

#userSwitch { color: #0060BF; }

#logoutLabel { font-style: italic; font-size: 0.8em }

#mainNavigation a { font-weight: bold; color: #0060BF; }

#mainNavigation a:link { text-decoration: none; }
#mainNavigation a:visited { text-decoration: none; }
#mainNavigation a:active { text-decoration: none; }
#mainNavigation a:hover { color: gray; text-decoration: underline; }

