@CHARSET "UTF-8";

img {
	border: 0;
}

body,input,select,textarea {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}



#mainNavigation {
	width: 100%;
	text-align: right;
	border-top: 2px solid red;
	font-size: 1.3em;
	font-weight: bold;
}

a:link { color: #0060BF; text-decoration: underline; }
a:visited { color: #0060BF; text-decoration: underline; }
a:active { color: #0060BF; text-decoration: underline; }
a:hover { color: #000000; text-decoration: underline; }

#mainNav {
	margin: 0em auto;
	width: 765px;
	padding: 10px 0 17px 0;
	background-color: gray;
}

;#mainNavItem ul { display: inline; list-style: none;}
;#mainNavItem li { display: inline; font-size: 1.3em; font-weight: bold; color: #A7A7A7; padding-left: 32px; }
#mainNavItem a:link { text-decoration: none; }
#mainNavItem a:visited { text-decoration: none; }
#mainNavItem a:active { text-decoration: none; }
#mainNavItem a:hover { color: #0060BF; text-decoration: underline; }
;#mainNav li.selected { background-color: #0060BF; }
;#mainNav li.selected a:link { color: #fff; text-decoration: none; }
;#mainNav li.selected a:visited { color: #fff; text-decoration: none; }
;#mainNav li.selected a:active { color: #fff; text-decoration: none; }
;#mainNav li.selected a:hover { color: #fff; text-decoration: none; }
