@CHARSET "UTF-8";

.pageableTable {
	width: 100%;
	border-collapse: collapse;
	color: #333333;
	border-bottom: solid #83c97e 2px;
    border-top: solid #83c97e 2px;

}


.pageableTable td, th {
	padding-right: 30px;
}

.pageableTable tbody {
	cursor: pointer;
}

.pageableTable a {
	color: #0060BF;
	font-weight: bold;
	text-decoration: none;
}

.odd {}



.even {
	background-color: #cde2ff;
	cursor: pointer;
}

th {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

tr.headers  {
	text-align: left;
	font-size: 1.05em;
	color: grey;
}

.headers td {
	background-color: red;
}

.navigation a {
	color: #0060BF;
	font-weight: bold;
}

.navigation a,em {
	font-size: 1.2em;
	text-decoration: none;
}

.navigation a:hover {
	color: #000
}