@CHARSET "UTF-8";

img {
	border: 0;
}

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

body,input,select,textarea {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}

#mainNavigation {
	width: 100%;
	text-align: right;
	border-top: 2px solid #ff8a00;
	font-size: 1.3em;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
}

#mainMenu {
	margin-right: 30px;
}

#userSwitch { 
	color: #0060BF;
	margin-right: 30px;
}

#logoutLabel { font-style: italic; font-size: 0.8em }

#mainNavigation a { font-weight: bold; color: #0060BF; word-spacing: 15px;}

#mainNavigation a:link { text-decoration: none; }
#mainNavigation a:visited { text-decoration: none; }
#mainNavigation a:active { text-decoration: none; }
#mainNavigation a:hover { color: gray; text-decoration: underline; }



/*.whiteBox_subMenu { background: url(img/corner_t.png) repeat-x; }
.whiteBox_subMenu div { background: url(img/corner_tl.png) no-repeat top left; }
.whiteBox_subMenu div div { background: url(img/corner_tr.png) no-repeat top right; }*/

#subMenu {
	width: 200px;
	float: left;
	margin-left: 50px;
}

.contextBox {
	width: 800px;
	margin-left: 300px;
}

.white_rbroundbox { background: url(img/whitebox7x7.png) repeat;}
.white_roundBoxTop { background: url(img/whitebox_t.gif) repeat-x; }
.white_roundBoxTop div { background: url(img/whitebox_tl.gif) no-repeat top left; }
.white_roundBoxTop div div { background: url(img/whitebox_tr.gif) no-repeat top right; }
.white_roundBoxBottom { background: url(img/whitebox_b.gif) repeat-x; }
.white_roundBoxBottom div { background: url(img/whitebox_bl.gif) no-repeat top left; }
.white_roundBoxBottom div div { background: url(img/whitebox_br.gif) no-repeat top right; }
.white_roundBoxLeft { background: url(img/whitebox_l.gif) repeat-y; }
.white_roundBoxRight { background: url(img/whitebox_r.gif) repeat-y right; }
.white_roundBoxTop div, .white_roundBoxTop, .white_roundBoxBottom div, .white_roundBoxBottom { width: 100%; height: 7px; font-size: 1px; }

#logoImage {
	float: left;
	margin-top: 10px;
	margin-left: 40px;
}

#body {
	clear: both;
	margin-top: 80px;
}

.navigationItem {
margin-right: 20px;
}

