@CHARSET "UTF-8";

#mainNavigation {
	width: 100%;
	text-align: right;
	border-top: 2px solid #ff8a00;
	font-size: 1.1em;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;

}

#userSwitch { 
	color: #0060BF;
	margin-right: 10px;
}


#logoutLabel { font-style: italic; font-size: 0.9em }
#userLabel { color: #409bff; font-weight: bold; font-size: 0.9em;}

#topnav a { font-weight: bold; color: #0060BF; word-spacing: 15px;}
#topnav a:link { text-decoration: none; }
#topnav a:visited { text-decoration: none; }
#topnav a:active { text-decoration: none; }
#topnav a:hover { color: gray; text-decoration: underline; }

#logoImage {
	float: left;
	margin-top: 10px;
	margin-left: 40px;
}

.navigationItem {
margin-right: 20px;
}

