<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:wicket>

	
	<body>
        <wicket:extend>
        
        	<div id="col1">
        		<div id="col1_content">
        			<div wicket:id="panel.subNavigation" />
        		</div>
        	</div>
        	
        	<div id="col2">
        		<div id="col2_content">
					<div wicket:id="panel.contribution" />
				</div>
			</div>
        	
        	
        	<div id="col3">
        	
        		<div id="headline">
        			<div id="headline_content">
        			<h5>UserManagement: Show the users and edit them. </h5></div>
        		</div>
        	
        		<div id="col3_content">
        			
					<wicket:child />
				</div>
				<div id="ie_clearing"> </div>
			</div>
			
			
        	
        </wicket:extend>
        
    </body>
	
</html>
