<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns:wicket>

  <head>
    <title wicket:id="title">Default Main Application</title>
    <link rel='stylesheet' type='text/css' href='main.css'/>
    <link wicket:id="cssDefaultMainTemplate" />
  </head>
  
  <body>
  <div id="window">

	<div id="logoImage">
   		<img src="img/kaiser-logo-249px.png"  alt="login image"></img>
   </div>
	
    <div id="mainNavigation" wicket:id="panel.mainNavigation"/>

    <div id="body">
      <wicket:child />
    </div>
    </div>
  
  </body>
</html>