<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:wicket>

	<wicket:head>
		<link wicket:id="styleSheet" />
	</wicket:head>
	
	<body>
        <wicket:extend>
        <div id="subMenu" class="white_roundBox" style="padding-bottom: 20px;">

				<div class="white_roundBoxTop"><div><div></div></div></div>
				<div class="white_roundBoxLeft">
					<div class="white_roundBoxRight">
						<ul>
							<li><a href="#">Resources by Name</a></li>
							<li><a href="#">Resources by Type</a></li>
						</ul>
							
					</div><!-- /white_rbcontent -->
				</div><!-- /white_rbcontentwrap -->
				<div class="white_roundBoxBottom"><div><div></div></div></div>
		</div><!-- /white_roundBox -->
        
        <div class="contextBox">
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Donec sed velit sit amet arcu commodo aliquet. Nunc
            consectetuer. Donec sollicitudin congue justo. Etiam wisi nisl, vehicula
            eget, mattis quis, imperdiet quis, lorem. Sed mattis, massa vitae
            laoreet imperdiet, ligula mauris convallis orci, eu blandit ante lorem
            nec mi. Nullam ac neque. Nunc pulvinar urna vel urna. Integer auctor
            ligula ut wisi. Sed pretium metus et nunc. Etiam eu nibh. Nulla
            facilisis aliquam risus. Nunc a leo. Ut lorem wisi, molestie nec,
            adipiscing nec, euismod at, est. Nunc posuere interdum ipsum. Donec eu
            odio. Maecenas imperdiet. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Maecenas vehicula tellus
            pulvinar elit. Cras dictum justo. Suspendisse aliquet tortor eget quam.
            Nam ut ipsum nec diam mollis accumsan. Suspendisse ut leo eget velit
            gravida eleifend. Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Maecenas lacinia aliquet augue.
        </div>
        </wicket:extend>
        
    </body>
	
</html>
